//## 全站公用元件 ##//

//-----------------------------------------------------------
//- 元件: 按钮
//- 参数:
//-   text:       String, 按钮文案, 默认为"确定"
//-   type:       String, 按钮类型, 默认为"submit"
//-   option:     String, 按钮风格, 可选"primary"|null, 默认为null
//-   dimension:  String, 按钮尺寸, 可选"small"|null|"large", 默认为null
//-   element:    String, 按钮标签, 可选null|"input"|"button", 默认为null, 输出a标签
//-   disabled:   Boolen, 按钮是否处于禁用状态, 默认为null
//-----------------------------------------------------------
mixin button(params)
    - var params = params || {}
    - var button_text = params.text || "确定"
    - var button_type = params.type || "submit"
    - var button_classes = []
    if (params.option)
        - button_classes.push("btn-" + params.option)
    if (params.dimension)
        - button_classes.push("btn-" + params.dimension)
    if params.disabled
        span.btn.btn-disabled= button_text
    else
        case params.element
            when "input"
                label.btn(class= button_classes)
                    input(type= button_type, value= button_text)
            when "button"
                label.btn(class= button_classes)
                    button= button_text
            default
                a.btn(class= button_classes, href="#")= button_text
//-----------------------------------------------------------
//元件：头像占位符
//参数：
//   width: number，头像占位符宽度，默认48
//   height: number，头像占位符高度，默认48
//-----------------------------------------------------------
mixin avatar(width,height)
   - var w = width || 48
   - var h = height || 48

   img(src="#{current.base}img/head1.png", alt="张三")

//-----------------------------------------------------------
//元件：主页、排行榜页列表
//参数：
//   width: number，头像占位符宽度，默认48
//   height: number，头像占位符高度，默认48
//-----------------------------------------------------------
mixin list-item(width,height,id)
    section.flex
        a.show(href='user-detail.html',title='个人详情页')
            +avatar(width,height)
        .user-record
            .user-title
                span.user-name 越秀区齐老师
                span.time.fr 2015-08-16 15:28
            .record-bg
            .user-record-like
                .record.fl(onclick="playorpause('id')")
                    audio(src='#{current.base}src/EricClapton-Layla.mp3')
                    .dot.hide
                    label.icon-recording.cording-time
                        span 22
                        | &prime;
                .record-like.fr
                    .like.iconfont.icon-like-hand 赞
                    p.total 186



//------------------------------------------------------------
//- 元件: 分页
//- 参数:
//-   page_title: Boolen, 是否显示分页数据, 默认null
//-   classes:    Boolen, 占位图片宽度, 默认null
//------------------------------------------------------------
mixin pagination(params)
    - var params = params || {}

    - var page_title = params.page_title === false ? false : true

    div(class=params.classes || "page_centered")
        .page_box
            .pagelist.cls
                if page_title
                    span.pltitle 1-30 条,  共 10000
                span.page-numbers.current 1
                a.page-numbers(href="#") 2
                a.page-numbers(href="#") 3
                span.page-numbers.dots ...
                a.page-numbers(href="#") 334
                a.next.page-numbers(href="#") 下一页